.wrap-koleksi {
  background: rgba(0, 0, 0, 0.5) url('../../images/cafe-11.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-blend-mode: overlay;
}
.content-koleksi {
  padding: 250px 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
.content-koleksi h1 {
  font-size: 48px;
}
.content-koleksi p {
  font-size: 20px;
  padding: 25px 0;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .content-koleksi h1 {
    font-size: 22px;
    text-align: center;
  }
  .content-koleksi p {
    font-size: 16px;
    text-align: center;
  }
}
